// src/app/(sections)/layout.module.scss
@use '@/styles/scss/variables' as *;

// Main Section
.mainSection {
  padding: 5rem 0 1rem;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.contentRow {
  padding: 1.5rem;
  padding-top: 2.5rem;
  text-align: center;
}