//src/styles/scss/_variables.scss

// Common colors
$color-primary: #9999ff;
$color-background: black;
$color-text: white;
$color-background-alt: #181825;
$color-border: #333333;

// Section colors
$color-toys: #c886e0;
$color-web: #8ba4d6;
$color-books: #90729e;
$color-slide: #adde68;
$color-brand: #8fa0a6;
$color-logo: #e8acac;
$color-vector: #c7c349;
$color-greeting: #e6877c;
$color-pattern: #99cccc;
$color-icons: #f0b87f;
$color-arts: #81d1a9;
$color-aboutus: #9ccce6;

// Layout
$header-padding: 5rem;
$grid-gap: 0.6rem;